.container-index {
    display: flex;
    justify-content: space-between;
}

.container-index h1 {
  width: 600px;
}



.index-filters {
  margin-top: 103px;
}
.index-filters li {
  list-style: none;

}

.divFooter {
    position: fixed;
    top: 0;
  }
