@import "home";
@import "new";
@import "show";


.wrapper {
  background-color: #F9F9F9;
  text-align: center;
}
.container {
  margin: 0 auto;
  width: 970px;
}

.container-registration {
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}




