<div class="wrapper">
  <div class="container">


    <h1>Your bookings... soon</h1>

   <%= link_to "Back 2 Barracas", root_path, class: "center navbar-wagon-item navbar-wagon-button btn" %>

  </div>
</div>
