<div class="wrapper">
  <div class="container">


    <h1>Book your camping site</h1>
    <br>
    <%= render 'form' %>
    <br>
    <%= link_to "View more campings", campings_path, class: "center navbar-wagon-item navbar-wagon-button btn" %>

  </div>
</div>
