.listcard {
  height: 175px;
  width: 640px;
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFBFC;
  border-top: 1px solid #E7E7E7;
  border-right: 2px solid #E7E7E7 ;
  border-bottom: 1px solid #E7E7E7;
  border-left: 2px solid #E7E7E7;
  color: #888888;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
  // background-image: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0,0,0,0.07)), url(background.jpg);




.listcard-photo {
  width: 160px;
  height: 94px;
  background-size: cover;
  background-repeat: no-repeat;
}


#listcard-btn {
  // position: absolute;
  bottom: 10px;
  right: 10px;
}

.listcard-category {
  font-size: 18px;
  text-transform: uppercase;
}

.listcard-category h2 {
  font-size: 14px;
}




.listcard-description h2 {
  font-size: 18px;
}

.listcard-description p {
  font-size: 13px;
  }
.listcard-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.listcard-link:hover{
  opacity: 0.1;
}
